body, html {
    height: 100%;
    margin: auto;
    font-family: Verdana, sans-serif;
    overflow: hidden;
    background: 
    linear-gradient(to bottom, #78c57b, #4ec07b, #20a58d, #007d8d),
    linear-gradient(to top, #c84c5d, #e44d26, #f16522, #fc9026);
    background-size: 200% 100%;
    background-repeat: no-repeat;

    -webkit-animation: gradientBG 16s ease infinite;
    -moz-animation: gradientBG 16s ease infinite;
    animation: gradientBG 16s ease infinite;
}

@-webkit-keyframes gradientBG {
  0%{background-position:0% 50%, 50% 50%}
  50%{background-position:100% 50%, 0% 50%}
  100%{background-position:0% 50%, 50% 50%}
}
@-moz-keyframes gradientBG {
  0%{background-position:0% 50%, 50% 50%}
  50%{background-position:100% 50%, 0% 50%}
  100%{background-position:0% 50%, 50% 50%}
}
@keyframes gradientBG { 
  0%{background-position:0% 50%, 50% 50%}
  50%{background-position:100% 50%, 0% 50%}
  100%{background-position:0% 50%, 50% 50%}
}

.container {
    display: flex;
    height: 100%;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.left-side, .middle-section, .right-side {
    text-align: center;
}

.left-side, .right-side {
    width: 30%;
    border: 10px solid #0f4b19;
    border-radius: 50px;
    background-color: #92aaaa;
}

.middle-section {
    flex: 1;
    border-top: 10px solid #0f4b19;
    border-bottom: 10px solid #0f4b19;
    background-color: #92aaaa;
    height: 100px;
}

ul {
    padding: 0;
    list-style: none;
}

.button, .disabled-button {
    margin: auto;
    cursor: pointer;
    transition: all 0.5s ease;
    display: block; /* Делаем кнопки блочными элементами */
    width: 150px; /* Устанавливаем ширину изображений */
    height: 150px; /* Устанавливаем высоту изображений */
    background-size: cover; /* Масштабирование изображений, чтобы они полностью заполнили рамку */
    text-align: center; /* Выравнивание содержимого по центру */
    line-height: 150px; /* Выравнивание содержимого в вертикальном направлении */
}
#rock, #computer-rock{
    background-image: url('img/rock.png');

}
#paper, #computer-paper{
    background-image: url('img/paper.png');
}
#scissors,#computer-scissors {
    background-image: url('img/scissors.png');
}

.disabled-button {
    pointer-events: none;
}

.button:hover {
    transform: translateX(50px) scale(1.5);
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9)); /* Применяем эффект свечения при наведении */
  }
.enlarge {
    transform: translateX(-50px) scale(1.5);
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9));
    
  }
  /* Стилизация для тега <p> */
#output {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    margin: 20px;
  }